{% set abs_url = app.request.scheme ~'://' ~ app.request.httpHost %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ abs_url ~ asset('img/logo.png') }}" />

    {# ============= TITLE ============= #}
    <title>{% block title %}Terre Burkina{% endblock %}</title>

    {# ============= STYLES ============= #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        {% stylesheets filter='cssrewrite, ?scssphp'
        'css/sponsor/style.css'
        output='css/sponsor/compiled/app.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

</head>

<body>

    <header>
        <div id="titleBlock">
            <img src="{{ abs_url ~ asset('img/logo.png') }}" alt="logo" id="logo"/>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Espace Fasoma</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Documents</a></li>
                    <li><a href="#">Messagerie</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mon compte
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mes informations</a></li>
                            <li><a href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('homepage') }}">Retour au site</a></li>
                </ul>
            </div>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    <footer>
        <p>© Copyright Terre Burkina {{ 'now'|date('Y') }}</p>
    </footer>

    {# ============= SCRIPTS ============= #}
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        {% javascripts filter='?jsqueeze'
        'js/sponsor/main.js'
        output='js/sponsor/compiled/app.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>