{% extends "admin/management/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block admin_body %}

    <i id="menuLeftInfo">actionsItem</i>

    <div class="buttonsBar">
        <a href="{{ path('admin_management_actions') }}" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</a>
    </div>

    <div class="col-md-7 col-md-offset-2 text-center">
        <h1>Supprimer une action</h1>
        <p>Êtes-vous sûr de vouloir supprimer l'action "{{ action.title }}" ?</p>
        <div class="marginTop25">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-danger marginTop25" formnovalidate>Supprimer l'action</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}