{% extends "admin/users/layout.html.twig" %}

{% block admin_body %}

    <i id="menuLeftInfo">utilisateurs</i>

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger marginTop25"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
    {% endfor %}

    <table class="table table-striped marginTop25">
        <tr>
            <th>Rôle</th>
            <th>Nom d'utilisateur</th>
            <th>Adresse email</th>
            <th>Dernière connexion</th>
            <th>Etat</th>
        </tr>

        {% for user in usersList %}
            <tr>
                <td>
                    <div class="btn-group">
                        {% if 'ROLE_ADMIN' in user.roles or 'ROLE_SUPER_ADMIN' in user.roles %}
                            {% if is_granted('ROLE_SUPER_ADMIN') and app.user.id != user.id %}
                                <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Administrateur <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 1}) }}">Modérateur</a></li>
                                    <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 2}) }}">Coordinateur</a></li>
                                    <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 3}) }}">Parrain</a></li>
                                </ul>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-sm">Administrateur</button>
                            {% endif %}
                        {% elseif 'ROLE_MODERATOR' in user.roles %}
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
                                Modérateur <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 0}) }}">Administrateur</a></li>
                                {% endif %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 2}) }}">Coordinateur</a></li>
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 3}) }}">Parrain</a></li>
                            </ul>
                        {% elseif 'ROLE_SPONSOR' in user.roles %}
                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                                Parrain <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 0}) }}">Administrateur</a></li>
                                {% endif %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 1}) }}">Modérateur</a></li>
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 2}) }}">Coordinateur</a></li>
                            </ul>
                        {% elseif 'ROLE_COORDINATOR' in user.roles %}
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                Coordinateur <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 0}) }}">Administrateur</a></li>
                                {% endif %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 1}) }}">Modérateur</a></li>
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 3}) }}">Parrain</a></li>
                            </ul>
                        {% else %}
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Non défini <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 0}) }}">Administrateur</a></li>
                                {% endif %}
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 1}) }}">Modérateur</a></li>
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 2}) }}">Coordinateur</a></li>
                                <li><a href="{{ path('admin_users_role', {'id': user.id, 'role' : 3}) }}">Parrain</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.lastLogin|date('d/m/Y') }}
                </td>
                <td>
                    <div class="btn-group">
                        {% if user.enabled %}
                            {% if not ('ROLE_SUPER_ADMIN' in user.roles) %}
                                {% if is_granted('ROLE_SUPER_ADMIN')
                                or (not ('ROLE_ADMIN' in user.roles)) %}
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Activé <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_users_toggle_state', {'id' : user.id}) }}">Désactiver</a></li>
                                </ul>
                                {% else %}
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Activé</button>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if not ('ROLE_SUPER_ADMIN' in user.roles) %}
                                {% if is_granted('ROLE_SUPER_ADMIN')
                                or (not ('ROLE_ADMIN' in user.roles)) %}
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Désactivé <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('admin_users_toggle_state', {'id' : user.id}) }}">Activer</a></li>
                                </ul>
                                {% else %}
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                    Désactivé</button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
                <td>
                {% if not ('ROLE_SUPER_ADMIN' in user.roles) %}
                    {% if is_granted('ROLE_SUPER_ADMIN') or
                    (('ROLE_ADMIN' in user.roles) and (app.user.id == user.id))
                    or (not ('ROLE_ADMIN' in user.roles)) %}
                    <a href="{{ path('admin_users_delete', {'id': user.id}) }}" class="btn btn-danger btn-sm" title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                {% endif %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td>
                    Aucun utilisateur enregistré pour le moment...
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if nbPageTotal > 1 %}
        <div class="text-center">
        <ul class="pagination">
            {% for p in range(1, nbPageTotal) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('admin_users', {'page':p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}

{% endblock %}