{% set abs_url = app.request.scheme ~'://' ~ app.request.httpHost %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ abs_url ~ asset('img/logo.png') }}" />

    {# ============= TITLE ============= #}
    <title>{% block title %}Terre Burkina{% endblock %}</title>

    {# ============= STYLES ============= #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

        {% stylesheets filter='cssrewrite, ?scssphp'
        'css/admin/style.css'
        output='css/admin/compiled/app.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

</head>

<body>

    <div class="container-fluid">

        {# MENU #}
        <header>
            <nav id="nav-top">
                <div id="nav-top-left">
                    <a href="{{ path('homepage') }}" title="Revenir au site"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <div id="nav-top-right">
                    <ul>
                        <li><a href="{{ path('admin_board') }}" title="Tableau de bord" id="boardMenuItem"><span class="glyphicon glyphicon-th"></span></a></li>
                        <li><a href="#" id="sponsorMenuItem" title="Parrains"><i class="fa fa-male" aria-hidden="true"></i><i class="fa fa-female" aria-hidden="true"></i></a></li>
                        <li><a href="#" id="childMenuItem" title="Filleuls"><i class="fa fa-child" aria-hidden="true"></i></a></li>
                        <li><a href="#" id="siteMenuItem" title="Gestion du site"><span class="glyphicon glyphicon-folder-open"></span></a></li>
                        <li><a href="{{ path('admin_users') }}" title="Utilisateurs" id="usersMenuItem"><i class="fa fa-users" aria-hidden="true"></i></a></li>
                        <li><a href="#" id="accountingMenuItem" title="Comptabilité"><span class="glyphicon glyphicon-piggy-bank"></span></a></li>
                        <li><a href="#" id="journalMenuItem" title="Journal des actions"><span class="glyphicon glyphicon-time"></span></a></li>
                        {% if is_granted('ROLE_COORDINATOR') %}
                        <li><a href="#" id="coordinationMenuItem">Coordination</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {# CORPS #}
        {% block body %}
        {% endblock %}
    </div>

    {# ============= SCRIPTS ============= #}
    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% javascripts filter='?jsqueeze'
        'js/admin/main.js'
        output='js/admin/compiled/app.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>