{% extends "admin/base.html.twig" %}

{% block title %}
    Administration utilisateurs
{% endblock %}

{% block body %}

    <i id="menuTopInfo">managementMenuItem</i>

    <nav id="nav-left">
        <ul>
            <li><a href="{{ path('admin_management_posts') }}" id="blog"><span class="mark"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> Blog</a></li>
            <li><a href="{{ path('admin_management_letters') }}" id="letter"><span class="mark"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> Lettres</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_management_content_gallery') }}" id="galleryItem"><span class="mark"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> Galerie</a></li>
                <li><a href="{{ path('admin_management_actions') }}" id="actionsItem"><span class="mark"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> Actions</a></li>
                <li><a href="{{ path('admin_management_newsletter') }}" id="newsletter"><span class="mark"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span> Newsletter</a></li>
            {% endif %}
        </ul>
    </nav>

    <div id="content">
        {% block admin_body %}
        {% endblock %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}