{% extends "admin/sponsors/layout.html.twig" %}

{% block admin_body %}

    <i id="menuLeftInfo">groups</i>

    <div class="buttonsBar">
        <a href="{{ path('admin_sponsors_groups_add') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
    </div>

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger marginTop25"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
    {% endfor %}
    <div class="col-sm-8 col-sm-offset-2">
        <table class="table table-striped marginTop25">
            <tr>
                <th></th>
                <th>Nom du groupe</th>
            </tr>

            {% for group in groups %}
                <tr>
                    <td>
                        <a href="#" class="btn btn-info btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        {{ group.name|upper }}
                    </td>
                    <td class="actionsColumn">
                        <a href="{{ path('admin_sponsors_groups_edit', {'id': group.id }) }}" class="btn btn-primary btn-sm" title="Modifier"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ path('admin_sponsors_groups_delete', {'id': group.id }) }}" class="btn btn-danger btn-sm" title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td></td>
                    <td>
                        Aucun groupe pour le moment...
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}