{% extends "admin/sponsors/layout.html.twig" %}

{% block admin_body %}

    <i id="menuLeftInfo">sponsors</i>

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger marginTop25"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
    {% endfor %}

    <table class="table table-striped marginTop25">
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Mode de versement</th>
            <th>Dernier versement</th>
            <th>Dernier contact</th>
            <th>Filleuls</th>
        </tr>

        {% for sponsor in sponsorsList %}
            <tr>
                <td>
                    <a href="{{ path('admin_sponsors_view_infos', {'id': sponsor.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                <td>
                   {{ sponsor.fullName|upper }}
                </td>
                <td>
                    {{ sponsor.adress }}
                </td>
                <td>
                    {{ sponsor.paymentChoice }}
                </td>
                <td>
                    {{ sponsor.lastPayment|date('d/m/Y') }}
                </td>
                <td>
                    {% if sponsor.lastContact is null %}
                        <button class="btn btn-danger btn-sm">Jamais</button>
                    {% elseif dayDiff(sponsor.lastContact) >= 365 %}
                        <button class="btn btn-danger btn-sm">{{ timeDiff(sponsor.lastContact) }}</button>
                    {% elseif (dayDiff(sponsor.lastContact) > 60 and dayDiff(sponsor.lastContact) < 365) %}
                        <button class="btn btn-warning btn-sm">{{ timeDiff(sponsor.lastContact) }}</button>
                    {% else %}
                        <button class="btn btn-success btn-sm">{{ timeDiff(sponsor.lastContact) }}</button>
                    {% endif %}
                </td>
                <td>
                    {% for child in sponsor.childs %}
                        <a href="{{ path('admin_childs_view_infos', {'id': child.id}) }}" class="btn btn-info btn-sm">{{ child.fullName }}</a>
                        {% if not loop.last %} - {% endif %}
                    {% else %}
                        <button class="btn btn-default btn-sm">Aucun</button>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    Aucun parrain enregistré pour le moment...
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if nbPageTotal > 1 %}
        <div class="text-center">
            <ul class="pagination">
                {% for p in range(1, nbPageTotal) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('admin_sponsors', {'page':p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}