{% extends "admin/sponsors/layout.html.twig" %}

{% block admin_body %}

    <i id="menuLeftInfo">sponsors</i>

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger marginTop25"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</div>
    {% endfor %}

    <table class="table table-striped marginTop25">
        <tr style="white-space: nowrap;">
            <th></th>
            <th>
                {% if by == 'firstName' and order == 'ASC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'firstName', 'order': 'DESC'}) }}">Prénom <span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                {% elseif by == 'firstName' and order == 'DESC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'firstName', 'order': 'ASC'}) }}">Prénom <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                {% else %}
                    <a href="{{ path('admin_sponsors', {'by': 'firstName', 'order': 'ASC'}) }}">Prénom</a>
                {% endif %}
            </th>
            <th>
                {% if by == 'lastName' and order == 'ASC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastName', 'order': 'DESC'}) }}">Nom <span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                {% elseif by == 'lastName' and order == 'DESC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastName', 'order': 'ASC'}) }}">Nom <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                {% else %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastName', 'order': 'ASC'}) }}">Nom</a>
                {% endif %}
            </th>
            <th>
                {% if by == 'adress' and order == 'ASC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'adress', 'order': 'DESC'}) }}">Adresse <span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                {% elseif by == 'adress' and order == 'DESC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'adress', 'order': 'ASC'}) }}">Adresse <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                {% else %}
                    <a href="{{ path('admin_sponsors', {'by': 'adress', 'order': 'ASC'}) }}">Adresse</a>
                {% endif %}
            </th>
            <th>Téléphone</th>
            <th>
                {% if by == 'paymentChoice' and order == 'ASC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'paymentChoice', 'order': 'DESC'}) }}">Mode de versement <span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                {% elseif by == 'paymentChoice' and order == 'DESC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'paymentChoice', 'order': 'ASC'}) }}">Mode de versement <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
                {% else %}
                    <a href="{{ path('admin_sponsors', {'by': 'paymentChoice', 'order': 'ASC'}) }}">Mode de versement</a>
                {% endif %}
            </th>
            <th>
                {% if by == 'lastPayment' and order == 'ASC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastPayment', 'order': 'DESC'}) }}">Dernier versement <span class="glyphicon glyphicon-sort-by-order"></span></a>
                {% elseif by == 'lastPayment' and order == 'DESC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastPayment', 'order': 'ASC'}) }}">Dernier versement <span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                {% else %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastPayment', 'order': 'ASC'}) }}">Dernier versement</a>
                {% endif %}
            </th>
            <th>
                {% if by == 'lastContact' and order == 'ASC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastContact', 'order': 'DESC'}) }}">Dernier contact <span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
                {% elseif by == 'lastContact' and order == 'DESC' %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastContact', 'order': 'ASC'}) }}">Dernier contact <span class="glyphicon glyphicon-sort-by-order"></span></a>
                {% else %}
                    <a href="{{ path('admin_sponsors', {'by': 'lastContact', 'order': 'ASC'}) }}">Dernier contact</a>
                {% endif %}
            </th>
            <th>Filleuls</th>
        </tr>

        {% for sponsor in sponsorsList %}
            <tr>
                <td>
                    <a href="{{ path('admin_sponsors_view_infos', {'id': sponsor.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                <td>
                    {{ sponsor.firstName|capitalize }}
                </td>
                <td>
                    {{ sponsor.lastName|upper }}
                </td>
                <td>
                    {{ sponsor.adress }}
                </td>
                <td>
                    {{ sponsor.phone }}
                </td>
                <td>
                    {{ sponsor.paymentChoice|capitalize }}
                </td>
                <td>
                    {{ sponsor.lastPayment|date('d/m/Y') }}
                </td>
                <td>
                    {% if sponsor.lastContact is null %}
                        <button class="btn btn-danger btn-sm">Jamais</button>
                    {% elseif dayDiff(sponsor.lastContact) >= 91 %}
                        <button class="btn btn-danger btn-sm">{{ timeDiff(sponsor.lastContact) }}</button>
                    {% elseif (dayDiff(sponsor.lastContact) > 30 and dayDiff(sponsor.lastContact) < 91) %}
                        <button class="btn btn-warning btn-sm">{{ timeDiff(sponsor.lastContact) }}</button>
                    {% else %}
                        <button class="btn btn-success btn-sm">{{ timeDiff(sponsor.lastContact) }}</button>
                    {% endif %}
                </td>
                <td>
                    {% for child in sponsor.childs %}
                        <a href="{{ path('admin_childs_view_infos', {'id': child.id}) }}" class="btn btn-info btn-sm">{{ child.fullName }}</a>
                        {% if not loop.last %} - {% endif %}
                    {% else %}
                        <button class="btn btn-default btn-sm">Aucun</button>
                    {% endfor %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('fasoma_homepage', {'_switch_user': sponsor.username}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span></a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td>
                    Aucun parrain enregistré pour le moment...
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if nbPageTotal > 1 %}
        <div class="text-center">
            <ul class="pagination">
                {% for p in range(1, nbPageTotal) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('admin_sponsors', {'page':p, 'by': by, 'order': order}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}