{% extends "admin/childs/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block admin_body %}

    <i id="menuLeftInfo">childs</i>

    <div class="buttonsBar">
        <a href="{{ path('admin_childs') }}" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</a>
    </div>

    <div class="col-md-7 col-md-offset-2 text-center">
        <h1>Ajouter un filleul</h1>
        <hr>
        <div class="marginTop25">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary marginTop25" formnovalidate>Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(":file").filestyle({buttonName: "btn-default", buttonBefore: true, buttonText: "&nbsp;Choisir"})
        });
    </script>
{% endblock %}