{% extends "admin/childs/childs/view_layout.html.twig" %}


{% block child_view %}
    <i id="menuChildInfo">photos</i>

    <div class="marginTop25" id="gallery">
        {% for photo in photos %}
        <div class="col-xs-6 col-sm-4 col-md-3 admin_gallery_thumbnail_container">
            <div class="thumbnail admin_gallery_thumbnail">
                <a href="{{ absolute_url(asset(vich_uploader_asset(photo, 'imageFile'))) }}">
                    <img src="{{ absolute_url(asset(vich_uploader_asset(photo, 'imageFile'))) }}" alt="{{ photo.imageName }}">
                </a>
            </div>
            <div id="{{ photo.id }}">
                <button class="btn btn-danger btn-xs deletePhotoBtn"><span class="glyphicon glyphicon-trash"></span></button>
                <button class="btn btn-info btn-xs upPhotoBtn" style="margin-left: 10px;"><span class="glyphicon glyphicon-arrow-up"></span></button>
            </div>
        </div>
        {% else %}
            <div class="text-center">
                <h3 class="marginTop25 emptyInfo">Aucune photo</h3>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>

        $(function(){

            $('.deletePhotoBtn').click(function () {
                var photoID = $(this).parent().attr('id');
                deletePhoto(photoID);
                $(this).parent().parent().fadeOut('slow');
            });

            $('.upPhotoBtn').click(function () {
                var photoID = $(this).parent().attr('id');
                upPhoto(photoID);
                $('#gallery').prepend($(this).parent().parent());
            });

            function deletePhoto(photoID){
                $.ajax({
                    type: 'GET',
                    url: '{{ path('ajax_snippet_image_delete') }}',
                    data: 'photoId=' + photoID
                })
                .done(function () {

                })
                .fail(function () {

                });
            }

            function upPhoto(photoID){
                $.ajax({
                    type: 'GET',
                    url: '{{ path('ajax_snippet_image_up') }}',
                    data: 'photoId=' + photoID
                })
                    .done(function () {

                    })
                    .fail(function () {

                    });
            }

        });

    </script>
{% endblock %}
