{% extends "admin/childs/layout.html.twig" %}

{% block admin_body %}

    <i id="menuLeftInfo">childs</i>

    <div class="buttonsBar">
        <a href="{{ path('admin_childs') }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</a>
    </div>

    <div class="text-center">
        <h1>{{ child.firstName }} {{ child.lastName }}</h1>
    </div>
    <div class="marginTop25">
        <div class="btn-group btn-group-justified">
            <a href="{{ path('admin_childs_view_infos', {'id': child.id}) }}" class="btn btn-primary" id="infos">Informations</a>
            <a href="{{ path('admin_childs_photos', {'id': child.id}) }}" class="btn btn-primary" id="photos">Photos</a>
            <a href="{{ path('admin_childs_news_child', {'id': child.id}) }}" class="btn btn-primary" id="news">Nouvelles</a>
            <a href="{{ path('admin_childs_results', {'id': child.id}) }}" class="btn btn-primary" id="results">Résultats</a>
            <a href="{{ path('admin_childs_view_groups', {'id': child.id}) }}" class="btn btn-primary" id="childGroups">Groupes</a>
        </div>
    </div>
    <hr>
    {% block child_view %}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}