{% extends 'visitor/base.html.twig' %}

{% form_theme form 'form/mdbootstrap_form.html.twig' %}

{% block body %}
<i id="topMenuInfo">sponsorships</i>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="h1-responsive">Galerie photo</h1>
                <hr>

                <div class="row">
                    <div class="col-12">
                        {% if photos|length > 0 %}
                            <div id="mdb-lightbox-ui"></div>

                            <div class="mdb-lightbox">
                                {% for photo in photos %}
                                    <figure class="col-md-4 col-sm-6">
                                        <a href="{{ absolute_url(asset(vich_uploader_asset(photo, 'imageFile'))) }}" data-size="{{ photo.width }}x{{ photo.height }}">
                                            <img src="{{ absolute_url(asset(vich_uploader_asset(photo, 'imageFile'))) }}" alt="{{ photo.imageName }}" class="img-fluid">
                                        </a>
                                    </figure>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Aucune photo</p>
                        {% endif %}
                    </div>
                </div>

                {% if nbPageTotal > 1 %}
                    <br>
                    <!--Pagination-->
                    <nav class="row text-center">
                        <ul class="pagination m-auto">
                            <li class="page-item {% if not (page > 1) %}disabled{% endif %}">
                                <a class="page-link" {% if (page > 1) %}href="{{ path('sponsorship_gallery', {'page': (page-1)}) }}"{% endif %} aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            {% for p in range(1, nbPageTotal) %}
                                <li class="page-item {% if p == page %}active{% endif %}">
                                    <a class="page-link" href="{{ path('sponsorship_gallery', {'page': p}) }}">{{ p }} {% if p == page %}<span class="sr-only">(current)</span>{% endif %}</a>
                                </li>
                            {% endfor %}


                            <li class="page-item {% if not (page < nbPageTotal) %}disabled{% endif %}">
                                <a class="page-link" {% if (page < nbPageTotal) %}href="{{ path('sponsorship_gallery', {'page': (page+1)}) }}"{% endif %} aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!--/.Pagination-->
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <a href="{{ path('sponsorship_request') }}" class="btn btn-lg btn-brown">Devenir parrain</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--Form with header-->
                    <div class="card">

                        <div class="card-block">
                            <!--Header-->
                            <div class="form-header ins-bg">
                                <h6><i class="fa fa-info" aria-hidden="true"></i> Plus d'informations</h6>
                            </div>

                            {% for message in app.session.flashbag.get('info') %}
                                <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                            {% endfor %}

                            <!--Body-->
                            {{ form_start(form) }}

                            <div class="md-form">
                                {{ form_row(form.firstName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.lastName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.email) }}
                            </div>

                            <fieldset class="form-group">
                                {{ form_widget(form.newsletter) }}
                                {{ form_label(form.newsletter) }}
                            </fieldset>

                            <div class="text-center">
                                <button type="submit" class="btn btn-brown" formnovalidate>Obtenir plus d'informations</button>
                            </div>
                            {{ form_end(form) }}

                        </div>

                    </div>
                    <!--/Form with header-->
                </div>
            </div>

        </div>
    </div>
    {% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script>
            $(function () {
                {% if photos|length > 0 %}
                $("#mdb-lightbox-ui").load("{{ absolute_url(asset('mdb-addons/mdb-lightbox-ui.html')) }}");
                {% endif %}
            });
        </script>
    {% endblock %}
