{% extends 'visitor/base.html.twig' %}

{% form_theme form 'form/mdbootstrap_form.html.twig' %}

{% block body %}
<i id="topMenuInfo">sponsorships</i>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="h1-responsive">Galerie photo</h1>
                <hr>

                <div class="row">
                    {% for photo in photos %}
                        <div class="col-md-4 col-sm-6">
                            <!--Card-->
                            <div class="card wow fadeInUp mb-2" style="visibility: visible; animation-name: fadeInUp;">

                                <!--Card image-->
                                <div class="view overlay hm-white-slight">
                                    <img src="{{ file_base_url ~ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.imageName }}" class="img-fluid" />
                                    <a href="{{ file_base_url ~ vich_uploader_asset(photo, 'imageFile') }}">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                            </div>
                            <!--/.Card-->

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <a href="{{ path('sponsorship_request') }}" class="btn btn-lg btn-brown">Devenir parrain</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--Form with header-->
                    <div class="card">

                        <div class="card-block">
                            <!--Header-->
                            <div class="form-header ins-bg">
                                <h6><i class="fa fa-info" aria-hidden="true"></i> Plus d'informations</h6>
                            </div>

                            {% for message in app.session.flashbag.get('info') %}
                                <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                            {% endfor %}

                            <!--Body-->
                            {{ form_start(form) }}

                            <div class="md-form">
                                {{ form_row(form.firstName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.lastName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.email) }}
                            </div>

                            <fieldset class="form-group">
                                {{ form_widget(form.newsletter) }}
                                {{ form_label(form.newsletter) }}
                            </fieldset>

                            <div class="text-center">
                                <button type="submit" class="btn btn-brown" formnovalidate>Obtenir plus d'informations</button>
                            </div>
                            {{ form_end(form) }}

                        </div>

                    </div>
                    <!--/Form with header-->
                </div>
            </div>

        </div>
    </div>
    {% endblock %}



