{% extends 'visitor/base.html.twig' %}

{% form_theme form 'form/mdbootstrap_form.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="h1-responsive">Présentation</h1>
                <hr>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum ipsum neque, eget consequat felis convallis et. Nam tempor quis ligula quis tristique. Fusce gravida tempor nulla eget dignissim. Donec vitae condimentum sapien. Nam facilisis lectus sit amet efficitur semper. Sed egestas turpis ut ante tincidunt efficitur. In sed aliquam mauris. Cras ac sem ut est condimentum fringilla. Suspendisse in nisi velit. Aliquam erat volutpat. Sed tempor vel enim in volutpat. Sed at orci ipsum.

                Pellentesque lobortis fringilla tempor. Fusce imperdiet sem sapien, id molestie libero commodo eu. Morbi eget urna id orci auctor commodo sed in nisi. Maecenas scelerisque sem nec neque tempus, sed pellentesque ligula tempus. Curabitur auctor metus sed dolor condimentum, non facilisis sem pellentesque. Pellentesque vulputate, leo id efficitur tincidunt, orci sem laoreet erat, ut commodo ex sem vel justo. Donec a erat ut augue efficitur fringilla. Integer tincidunt, ex sed venenatis luctus, dolor nisi pellentesque orci, non placerat risus magna nec elit. Nam at est ipsum. Curabitur sapien nisl, posuere ac blandit id, sodales quis metus. Integer bibendum eros orci, ut dignissim lacus hendrerit ac. Praesent suscipit consequat mollis. Nam lobortis viverra viverra. Duis ornare efficitur posuere. In hac habitasse platea dictumst. Aliquam erat volutpat.

                Sed efficitur rhoncus turpis, et aliquam orci maximus nec. Nunc ultrices mollis odio, hendrerit malesuada lacus ornare vitae. Suspendisse nisi dolor, posuere at diam eu, placerat egestas purus. Vivamus hendrerit efficitur metus quis iaculis. Nunc finibus congue felis, vel molestie nisi rhoncus in. Integer at urna ornare, tincidunt ligula eget, mollis quam. Fusce maximus lectus vitae mi facilisis, eget consequat risus eleifend. Integer hendrerit luctus orci id porttitor. Vestibulum euismod, ligula consequat tincidunt egestas, dolor ante finibus libero, ut ullamcorper est tortor eget ante. Ut ut mattis augue. Mauris suscipit tincidunt orci nec posuere.

            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron text-center">
                        <a href="{{ path('sponsorship_request') }}" class="btn btn-lg btn-brown">Devenir parrain</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--Form with header-->
                    <div class="card">

                        <div class="card-block">
                            <!--Header-->
                            <div class="form-header ins-bg">
                                <h6><i class="fa fa-info" aria-hidden="true"></i> Plus d'informations</h6>
                            </div>

                            {% for message in app.session.flashbag.get('info') %}
                                <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                            {% endfor %}

                            <!--Body-->
                            {{ form_start(form) }}

                            <div class="md-form">
                                {{ form_row(form.firstName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.lastName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.email) }}
                            </div>

                            <fieldset class="form-group">
                                {{ form_widget(form.newsletter) }}
                                {{ form_label(form.newsletter) }}
                            </fieldset>

                            <div class="text-center">
                                <button type="submit" class="btn btn-brown" formnovalidate>Obtenir plus d'informations</button>
                            </div>
                            {{ form_end(form) }}

                        </div>

                    </div>
                    <!--/Form with header-->
                </div>
            </div>

    </div>
</div>
{% endblock %}



