{% extends 'visitor/base.html.twig' %}

{% form_theme form 'form/mdbootstrap_form.html.twig' %}

{% block body %}
<i id="topMenuInfo">sponsorships</i>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="h1-responsive">Présentation</h1>
                <hr>
                <p>
                    <strong>
                        Avec 1 € par jour, vous permettez à un élève d'accéder à l'école dans de bonnes conditions.<br> Vous correspondes, à vos rythmes respectifs, par courrier et êtes informés de ses résultats en classe.<br> Vous bénéficiez d'un espace en ligne personnel qui permet d'avoir des nouvelles mensuelles de l'élève, des photos régulières, une messagerie avec l'association...<br> Vos versements peuvent être mensuels (30 €), trimestriels (90 €), semestriels (180 €) ou annuels (360 €).<br> Vous bénéficiez de 66% de déduction fiscale.
                    </strong>
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <!--Card-->
                        <div class="card wow bounceIn mb-2" style="visibility: hidden; animation-name: bounceIn;">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="{{ absolute_url(asset('img/annexe2.jpg')) }}" class="img-fluid" alt="Membres de l'association">
                                <a href="{{ absolute_url(asset('img/annexe2.jpg')) }}">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                        </div>
                        <!--/.Card-->
                    </div>
                    <div class="col-md-6">
                        <!--Card-->
                        <div class="card wow bounceIn mb-2" style="visibility: hidden; animation-name: bounceIn;">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="{{ absolute_url(asset('img/annexe3.jpg')) }}" class="img-fluid" alt="Membres de l'association">
                                <a href="{{ absolute_url(asset('img/annexe3.jpg')) }}">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                        </div>
                        <!--/.Card-->
                    </div>
                </div>

                <h2 class="h2-responsive">En détails</h2><hr>
                <p>
                    Il s'agit de mettre en relation des enfants burkinabè en difficulté et leurs parrains ou marraines en Europe de manière à leur permettre de poursuivre une scolarité normale. Le parrainage mis en place, ces enfants rejoignent les bancs de l'école avec quelques préoccupations en moins : payer les frais liés à la scolarité, trouver les fournitures, manger, se soigner, se vêtir... Le parrainage n'intervient pas sur les orientations pédagogiques de l'enfant et conserve toute entière la place de la famille et des équipes pédagogiques. Il ne doit pas désengager les familles et les proches de l'enfant, nous y veillons.
                </p>
                <p>
                    <strong>Efficacité et discrétion</strong> sont les maîtres-mots de nos équipes sur le terrain : le parrainage est <strong>extrêmement personnalisé</strong> en fonction de l'enfant ; toujours à l'écoute des familles et des élèves, nos collaborateurs sont au plus près des réalités et agissent en conséquence mais toujours avec une grande discrétion. Si la famille et l'équipe d’encadrement pédagogique de l'enfant sont évidemment informés de la mise en place du parrainage, les voisins, camarades de classe, grande famille, etc. en sont toujours tenus éloignés. Nous ne souhaitons pas, et c'est toujours également le cas des enfants et des familles, que tout le village soit au courant du parrainage de tel ou tel enfant...
                </p>
                <p>
                    <strong>Chaque mois au moins l’un de nos coordinateurs locaux rencontre l’enfant parrainé.</strong> Le plus souvent possible cette rencontre se fait au domicile de l’élève, il s’agit en effet d’être <strong>très attentif à ses besoins</strong>. Ils en profitent alors faire le point sur le parrainage en cours et recenser les besoins urgents ou moins urgents. C’est aussi évidemment un moment d’échanges et de rapprochement entre nos filleul(e)s et nos équipes, en toute intimité et convivialité. Les élèves profitent également de ces moments pour <strong>entretenir les liens avec les parrains/marraines en Europe !</strong> Faire des photos, recevoir ou donner un courrier, donner les nouvelles qui apparaitront dans Fasoma…
                </p>
                <p>
                    <strong>Relations avec votre filleul(e)</strong><br>
                    Nous les souhaitons <strong>les plus riches possible !</strong> Cet échange est l'un des objectifs du parrainage et de l'association. Dès la mise en place du parrainage, le parrain est mis en relation avec l'enfant : échanges de courriers et de photos qui dureront, nous l'espérons, le plus longtemps possible. Dès qu'ils sont disponibles, nous vous communiquons également les résultats scolaires de l'enfant. Nous avons fait le choix de pas interférer dans ces relations de manière à les conserver les plus ouvertes possibles, nous vous transmettons une enveloppe pré-timbrée que vous postez directement à nos équipes qui la transmettent aussitôt à votre filleul(e), idem dans le sens contraire.
                </p>
                <p>
                    <strong>Un parrainage en collaboration étroite avec les autorités locales</strong><br/>
                    Terre Burkina travaille <strong>main dans la main avec les partenaires locaux</strong> : inspection scolaire, directeurs-directrices d’établissements, services de l’Action Sociale... et toujours avec l’aval des autorités locales. <strong> Le choix des enfants ne nous appartient pas</strong>, il est réalisé par tous ces partenaires et uniquement en fonction de critères sociaux. Toute notion de sexe, âge, village, appartenance ethnique, religieuse ou politique est exclue.<strong>  Une charte du parrainage Terre Burkina résume l’esprit de l’association.</strong>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <!--Card-->
            <div class="card mb-2">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="{{ absolute_url(asset('img/presentation_parrainage.jpg')) }}" class="img-fluid" alt="Enfants">
                    <a href="{{ absolute_url(asset('img/presentation_parrainage.jpg')) }}">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <a href="{{ path('sponsorship_request') }}" class="btn btn-lg btn-brown">Devenir parrain</a>
                </div>

            </div>
            <!--/.Card-->
            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--Form with header-->
                    <div class="card">

                        <div class="card-block">
                            <!--Header-->
                            <div class="form-header ins-bg">
                                <h6><i class="fa fa-info" aria-hidden="true"></i> Plus d'informations</h6>
                            </div>

                            {% for message in app.session.flashbag.get('info') %}
                                <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                            {% endfor %}

                            <!--Body-->
                            {{ form_start(form) }}

                            <div class="md-form">
                                {{ form_row(form.firstName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.lastName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.email) }}
                            </div>

                            <fieldset class="form-group">
                                {{ form_widget(form.newsletter) }}
                                {{ form_label(form.newsletter) }}
                            </fieldset>

                            <div class="text-center">
                                <button type="submit" class="btn btn-brown" formnovalidate>Obtenir plus d'informations</button>
                            </div>
                            {{ form_end(form) }}

                        </div>

                    </div>
                    <!--/Form with header-->
                </div>
            </div>

    </div>
</div>
{% endblock %}



