{% extends 'visitor/base.html.twig' %}

{% form_theme form 'form/mdbootstrap_form.html.twig' %}

{% block body %}
<i id="topMenuInfo">sponsorships</i>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="h1-responsive">Système scolaire</h1>
                <hr>
                <p>
                    Au Burkina Faso, l’équivalent de notre Ministère de l’Education Nationale (France) se nomme le MENA : Ministère de l’Education Nationale et de l’Alphabétisation.	 Le taux de scolarisation est de 75 à 80 % en ville et de 40 à 60 % en campagne. L’effectif moyen est de 75 élèves par classe (en élémentaire) : 50-60 en ville et souvent 100 voire plus en campagne. Pour 100 enfants entrés au CP1, 30 iront au collège, 10 au lycée et 3 en études supérieures.<br>
                    L’organisation par classe est le même qu’en France à l’exception de l’existence d’un CP1 et CP2. Le CP1 fait souvent office d’introduction à l’école. Il existe depuis peu des équivalents aux écoles maternelles : Centres d’éveil et d’éducation préscolaire (CEEP), les Espaces d’Entraide Communautaire pour l’Enfance (EECE) ou « Bisongo » et les Espaces d’Eveil Educatif. L’action du gouvernement tend à développer cette préscolarisation mais ces structures restent peu fréquentées à l’heure actuelle.<br>
                    (Etude Terre Burkina basée sur des chiffres issus de différentes sources : UNICEF, Humanium, Index Mundi, Unesco, rapports de grandes ONG.)
                </p>
                <p>
                    <a href="{{ absolute_url(asset('img/enfants_ordinateur_parrainage.jpg')) }}"><img src="{{ absolute_url(asset('img/enfants_ordinateur_parrainage.jpg')) }}" class="float-left" style="height: 300px; margin-right: 15px;" alt="Enfants travaillant sur un ordinateur"></a>
                    Malgré ces conditions, l’enseignement au Burkina, qu’il soit public ou privé reste de bonne qualité et ne cesse de s’améliorer. Le gouvernement et les acteurs de terrains (inspecteurs, directeurs d’école) mettent le plus grand soin à la formation des jeunes instituteurs, à l’amélioration de la vie scolaire et à la sensibilisation des populations aux enjeux de la scolarisation…
                </p>
                <p>
                    Le coût de l’école (frais de scolarité) et de tout ce qui l’entoure : frais des associations de parents d’élève, fournitures, cantine, frais dûs à éloignement (vélo et entretien), dossiers et frais de dépôt pour les années à concours… rend son accès délicat pour bon nombre de familles burkinabè. De plus, mettre son enfant à l’école revient également très souvent à tirer un trait sur une force de travail non négligeable au foyer, notamment en ce qui concerne les filles chargées souvent des tâches ménagères au sein de la cour. Les sensibilisations du gouvernement ou des associations locales à ce sujet ont bien fonctionné et la plupart des familles reconnaissent désormais l’intérêt inéluctable de l’école, elles restent cependant confrontées au problème financier.
                </p>
                <p>
                    Au sein d’une même famille, tous les enfants ne sont donc pas scolarisés : parfois des « choix » sont faits par les parents. Ces choix sont souvent de véritables angoisses pour ceux-ci, on entend régulièrement lors des tournées : « un ou deux, c’est mieux que pas du tout…» ou alors « pourquoi lui ? Il faut bien faire des choix ! ». Pour d’autres, le temps de faire des économies et l’enfant est scolarisé tardivement, il obtient son « entrée en 6ème » à 13 ou 14 ans, mais : « Mieux vaut tard que jamais ! »
                </p>
                <p>
                    Pour tous, c’est sûr, l’école est vécue comme une chance et c’est indéniablement un enjeu de développement majeur qu’il soit personnel ou sociétal, mais c’est souvent surtout un véritable sacrifice de parents déterminés à scolariser leurs enfants.
                </p>
                <p>
                    Un des paradoxes de la course à la scolarisation par le gouvernement réside dans les écoles dites « paillotes ». Ces écoles construites en terre, paille et bois se développent en masse. Elles permettent, certes, d’assurer la scolarité des enfants dans les villages les plus reculés ou dans les quartiers périphériques des grandes villes, mais dans des conditions parfois très difficiles. Soumises aux aléas climatiques : forte pluie, vent violent… elles sont très fragiles et doivent être rénovées tous les ans de manière à  rester en état toute l’année scolaire. De plus, les conditions d’enseignement et d’apprentissage sont très délicates et extrêmement dépendantes des saisons : pluies, poussière, chaleur insoutenable ou fraîcheur par moment… Les résultats scolaires sont donc très souvent inférieurs aux résultats des salles dites « en dur ». Leur chiffre est très difficile à exprimer, mais sur les zones couvertes par l’association, on compte une quarantaine de salles de classe sous cette forme.
                </p>
                <p>
                    Le secteur évoluera, c’est indéniable, d’autres modèles constructifs existent : classes fraîches, ventilation naturelle forcée, voûtes nubiennes, toit parasol… Pour l’instant, hormis quelques rares exceptions, les bâtiments scolaires sont en béton et tôles ou sous forme d’école paillote.
                </p>
                <p>
                    Compétent et déterminé, le personnel éducatif changera la donne : en route pour "l’Enseignement Pour Tous" !
                </p>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-3">

                        <a href="{{ absolute_url(asset('img/ecole_parrainage.jpg')) }}">
                            <img src="{{ absolute_url(asset('img/ecole_parrainage.jpg')) }}" class="img-fluid z-depth-1" alt="Ecole">
                        </a>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-3">

                        <a href="{{ absolute_url(asset('img/classe2_parrainage.jpg')) }}">
                            <img src="{{ absolute_url(asset('img/classe2_parrainage.jpg')) }}" class="img-fluid z-depth-1" alt="Salle de classe">
                        </a>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-3">

                        <a href="{{ absolute_url(asset('img/ecole2_parrainage.jpg')) }}">
                            <img src="{{ absolute_url(asset('img/ecole2_parrainage.jpg')) }}" class="img-fluid z-depth-1" alt="Ecole">
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
            </div>
        </div>
        <div class="col-md-4">

            <!--Card-->
            <div class="card mb-2">

                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="{{ absolute_url(asset('img/classe_parrainage.jpg')) }}" class="img-fluid" alt="Salle de classe">
                    <a href="{{ absolute_url(asset('img/classe_parrainage.jpg')) }}">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <a href="{{ path('sponsorship_request') }}" class="btn btn-lg btn-brown">Devenir parrain</a>
                </div>

            </div>
            <!--/.Card-->

            <br>
            <div class="row">
                <div class="col-md-12">
                    <!--Form with header-->
                    <div class="card">

                        <div class="card-block">
                            <!--Header-->
                            <div class="form-header ins-bg">
                                <h6><i class="fa fa-info" aria-hidden="true"></i> Plus d'informations</h6>
                            </div>

                            {% for message in app.session.flashbag.get('info') %}
                                <div class="alert alert-info marginTop25"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</div>
                            {% endfor %}

                            <!--Body-->
                            {{ form_start(form) }}

                            <div class="md-form">
                                {{ form_row(form.firstName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.lastName) }}
                            </div>

                            <div class="md-form">
                                {{ form_row(form.email) }}
                            </div>

                            <fieldset class="form-group">
                                {{ form_widget(form.newsletter) }}
                                {{ form_label(form.newsletter) }}
                            </fieldset>

                            <div class="text-center">
                                <button type="submit" class="btn btn-brown" formnovalidate>Obtenir plus d'informations</button>
                            </div>
                            {{ form_end(form) }}

                        </div>

                    </div>
                    <!--/Form with header-->
                </div>
            </div>

        </div>
    </div>
    {% endblock %}



