{% set abs_url = app.request.scheme ~'://' ~ app.request.httpHost %}

{% extends 'visitor/base.html.twig' %}

{% block carousel %}
    <!--Carousel Wrapper-->
    <div id="homepageCarousel" class="carousel slide carousel-fade z-depth-1" data-ride="carousel">

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <img src="{{ absolute_url(asset('img/arbre_palabre.jpg')) }}" alt="Paysage" class="img-fluid">
                    <div class="carousel-caption">
                      <h1 class="h1-responsive">L'Arbre à Palabre</h1>
                        {% if letter is not null %}
                            <p class="">Lettre du {{ letter.creationDate|localizeddate('none', 'none', app.request.locale, "Europe/Paris", "cccc d MMMM Y") }}</p>
                        {% endif %}
                    </div>
            </div>
            <!--/First slide-->
        </div>
        <!--/.Slides-->

        <!--Controls-->
        {% if previousLetter is not null %}
        <a href="{{ path('letter', {'id': previousLetter.id}) }}" class="carousel-control-prev ml-2" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-4x" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
            <div class="hidden-sm-down">Newsletter précédente</div>
        </a>
        {% endif %}

        {% if nextLetter is not null %}
        <a href="{{ path('letter', {'id': nextLetter.id}) }}" class="carousel-control-next mr-2" role="button" data-slide="next">
            <div class="hidden-sm-down">Newsletter suivante</div>
            <i class="fa fa-chevron-right fa-4x" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
        {% endif %}
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
{% endblock %}

{% block body %}
    <i id="topMenuInfo">news</i>

    <br/>
    <div class="container">

        {% if letter is not null %}
            <!-- BLOC SOMMAIRE + LETTRE -->
                <div class="row">

                    <!-- SOMMAIRE -->
                    <div class="col-md-4">
                        <div class="row" id="letterSummaryBlock">
                            {% if letter.summary is not null %}
                                <div class="col-12">
                                    <div class="jumbotron">
                                        {{ letter.summary|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- LETTRE -->
                    <div class="col-md-8" id="letterContentContainer">
                        <div class="row" id="letterContentBlock">
                            <div class="col-md-12">
                                <div class="jumbotron">
                                    {{ letter.content|raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            <!-- BLOCS MODULES -->

                <!-- MODULE 1 -->
                {% if (letter.module1Content is not null) or (letter.module1Photo is not null) %}
                    <div class="row mb-2">

                        <!-- MODULE 1 IMAGE -->
                        <div class="col-md-4">
                            {% if letter.module1Photo is not null %}
                                <div>
                                    <img src="{{ absolute_url(asset(vich_uploader_asset(letter, 'module1Photo'))) }}" alt="{{ letter.module1PhotoName }}" class="img-fluid z-depth-3"/>
                                </div>
                            {% endif %}
                        </div>

                        <!-- MODULE 1 TEXTE -->
                        <div class="col-md-8">
                            {% if letter.module1Content is not null %}
                                <div class="jumbotron">
                                    {{ letter.module1Content|raw }}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                <!-- MODULE 2 -->
                {% if (letter.module2Content is not null) or (letter.module2Photo is not null) %}
                    <div class="row mb-2">

                        <!-- MODULE 2 IMAGE -->
                        <div class="col-md-4">
                            {% if letter.module2Photo is not null %}
                                <div>
                                    <img src="{{ absolute_url(asset(vich_uploader_asset(letter, 'module2Photo'))) }}" alt="{{ letter.module2PhotoName }}" class="img-fluid z-depth-2"/>
                                </div>
                            {% endif %}
                        </div>

                        <!-- MODULE 2 TEXTE -->
                        <div class="col-md-8">
                            {% if letter.module2Content is not null %}
                                <div class="jumbotron">
                                    {{ letter.module2Content|raw }}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                <!-- MODULE 3 -->
                {% if (letter.module3Content is not null) or (letter.module3Photo is not null) %}
                    <div class="row mb-2">

                        <!-- MODULE 3 IMAGE -->
                        <div class="col-md-4">
                            {% if letter.module3Photo is not null %}
                                <div>
                                    <img src="{{ absolute_url(asset(vich_uploader_asset(letter, 'module3Photo'))) }}" alt="{{ letter.module3PhotoName }}" class="img-fluid z-depth-2"/>
                                </div>
                            {% endif %}
                        </div>

                        <!-- MODULE 3 TEXTE -->
                        <div class="col-md-8">
                            {% if letter.module3Content is not null %}
                                <div class="jumbotron">
                                    {{ letter.module3Content|raw }}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                <!-- MODULE 4 -->
                {% if (letter.module4Content is not null) or (letter.module4Photo is not null) %}
                    <div class="row mb-2">

                        <!-- MODULE 4 IMAGE -->
                        <div class="col-md-4">
                            {% if letter.module4Photo is not null %}
                                <div>
                                    <img src="{{ absolute_url(asset(vich_uploader_asset(letter, 'module4Photo'))) }}" alt="{{ letter.module4PhotoName }}" class="img-fluid z-depth-2"/>
                                </div>
                            {% endif %}
                        </div>

                        <!-- MODULE 4 TEXTE -->
                        <div class="col-md-8">
                            {% if letter.module4Content is not null %}
                                <div class="jumbotron">
                                    {{ letter.module4Content|raw }}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

                <!-- MODULE 5 -->
                {% if (letter.module5Content is not null) or (letter.module5Photo is not null) %}
                    <div class="row mb-2">

                        <!-- MODULE 5 IMAGE -->
                        <div class="col-md-4">
                            {% if letter.module5Photo is not null %}
                                <div>
                                    <img src="{{ absolute_url(asset(vich_uploader_asset(letter, 'module5Photo'))) }}" alt="{{ letter.module5PhotoName }}" class="img-fluid z-depth-2"/>
                                </div>
                            {% endif %}
                        </div>

                        <!-- MODULE 5 TEXTE -->
                        <div class="col-md-8">
                            {% if letter.module5Content is not null %}
                                <div class="jumbotron">
                                    {{ letter.module5Content|raw }}
                                </div>
                            {% endif %}
                        </div>

                    </div>
                {% endif %}

        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2 class="h2-responsive">
                                    Aucune lettre
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}

