{% set abs_url = app.request.scheme ~'://' ~ app.request.httpHost %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ abs_url ~ asset('img/logo.png') }}" />

    {# ============= TITLE ============= #}
    <title>{% block title %}Connexion espace Fasoma{% endblock %}</title>

    {# ============= STYLES ============= #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        {% stylesheets filter='cssrewrite, ?scssphp'
        'css/login/style.css'
        output='css/login/compiled/app.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <header class="text-center marginTop25">
        <a href="{{ path('homepage') }}" id="returnButton" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <img src="{{ abs_url ~ asset('img/logo.png') }}" id="logo"/>
    </header>

    {% block fos_user_content %}
    {% endblock %}

    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% javascripts filter='?jsqueeze'
        'js/login/main.js'
        output='js/login/compiled/app.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>