{% form_theme form 'form/mdbootstrap_form.html.twig' %}

{{ form_start(form) }}
<div>
    <br>
    <div class="row">
        <div class="col-8 push-2">
            <div class="md-form input-group">
                {{ form_widget(form.amount) }}
                <span class="input-group-addon" id="basic-addon1">€</span>
            </div>
            {{ form_errors(form.amount) }}
        </div>
    </div>
</div>
<br>
<h3 class="h3-responsive">Moyen de règlement</h3>
<hr>
<div class="text-center">
    {{ form_widget(form.card) }}<br>
    {{ form_widget(form.cheque) }}<br>
    {{ form_widget(form.transfer) }}<br>
</div>
{{ form_end(form) }}