{% extends 'visitor/base.html.twig' %}

{% block carousel %}

    <!--Carousel Wrapper-->
    <div id="homepageCarousel" class="carousel slide carousel-fade z-depth-1" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <img src="{{ absolute_url(asset('img/association_carousel.jpg')) }}" alt="Village" class="img-fluid">
                <div class="carousel-caption">
                      <h1 class="h1-responsive">L'association</h1>
                </div>
            </div>
            <!--/First slide-->
        </div>
        <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->

{% endblock %}


{% block body %}
    <i id="topMenuInfo">association</i>

    <div class="container-fluid white">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="divider-new">
                    <h2 class="h2-responsive">Qui sommes-nous ?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 push-md-2">
                <p>
                    L'association a pour objectif de <strong>prendre part activement dans la lutte pour le développement du Burkina Faso</strong> par la mise en place de projets de développement local : parrainages d'enfants, soutiens à des initiatives villageoises, etc. <br><br>
                    Tous les projets sont menés <strong>en totale collaboration avec les autorités et les acteurs sur place</strong>. <br><br>
                    En France, la sensibilisation aux réalités burkinabé, le rapprochement des peuples, la découverte du pays et la meilleure compréhension des enjeux du développement sont les objectifs essentiels de l'association.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="divider-new">
                    <h2 class="h2-responsive">Les membres</h2>
                </div>
            </div>
        </div>
        <!--Section: Team v.1-->
        <section class="section team-section">
            <!--Grid row-->
            <div class="row text-center">

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/abdoulaye.jpg')) }}" class="rounded-circle z-depth-1" alt="Abdoulaye ZOUGBA">
                    </div>
                    <h6>Abdoulaye ZOUGBA</h6>
                    <h6 class="font-bold blue-text">Coordinateur</h6>
                    <br>
                </div>

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/anne-sophie.jpeg')) }}" class="rounded-circle z-depth-1" alt="Anne-Sophie VOMSCHEID">
                    </div>
                    <h6>Anne-Sophie VOMSCHEID</h6>
                    <h6 class="font-bold blue-text">Coordinatrice</h6>
                    <br>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/anthony.jpg')) }}" class="rounded-circle z-depth-1" alt="Anthony PATE">
                    </div>
                    <h6>Anthony PATE</h6>
                    <h6 class="font-bold blue-text">Président</h6>
                    <br>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/bernadette.jpg')) }}" class="rounded-circle z-depth-1" alt="Bernadette ZONGO COMPAORE">
                    </div>
                    <h6>Bernadette ZONGO COMPAORE</h6>
                    <h6 class="font-bold blue-text">Intendante Maison de Luc</h6>
                    <br>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/cecile.jpg')) }}" class="rounded-circle z-depth-1" alt="Cécile PESTELARD">
                    </div>
                    <h6>Cécile PESTELARD</h6>
                    <h6 class="font-bold blue-text">Secrétaire - Coordinatrice</h6>
                    <br>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/charlotte.jpg')) }}" class="rounded-circle z-depth-1" alt="Charlotte MAIRE">
                    </div>
                    <h6>Charlotte MAIRE</h6>
                    <h6 class="font-bold blue-text">Coordinatrice</h6>
                    <br>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/jean.jpg')) }}" class="rounded-circle z-depth-1" alt="Jean ZOUBGA">
                    </div>
                    <h6>Jean ZOUBGA</h6>
                    <h6 class="font-bold blue-text">Coordinateur</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/karim.jpg')) }}" class="rounded-circle z-depth-1" alt="Karim NANA">
                    </div>
                    <h6>Karim NANA</h6>
                    <h6 class="font-bold blue-text">Coordinateur</h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-4">

                    <div class="avatar">
                        <img src="{{ absolute_url(asset('img/minerve.jpg')) }}" class="rounded-circle z-depth-1" alt="Minerve CALDERARI">
                    </div>
                    <h6>Minerve CALDERARI</h6>
                    <h6 class="font-bold blue-text">Secrétaire adjointe</h6>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

        </section>
        <!--Section: Team v.1-->

        <div class="row">
            <div class="col-12">
                <div class="divider-new">
                    <h2 class="h2-responsive">L'action</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 push-md-2">
                <p> Elle revêt différentes formes ; en premier lieu, les parrainages scolaires : il s'agit de permettre à des enfants burkinabè en grande difficulté sociale de <strong>rejoindre les bancs de l'école grâce au soutien de parrains ou de marraines en France</strong>.<br> Cela nécessite une recherche active de ces parrains/marraines qui s'engageront à nos côtés pour redonner à ces enfants les moyens de poursuivre leur scolarité.</p> <p>Mais l'action ne s'arrête pas là ; Terre Burkina s'efforce de <strong>soutenir de nombreuses initiatives locales en faveur du développement</strong>. Nombre de personnes rencontrées au Burkina Faso sont emplies d'idées nouvelles, qui s'avèrent souvent très efficaces à différents niveaux.<br> Chez eux, pas de fatalisme, ils sont de véritables acteurs du développement, porteurs d’initiatives, associations locales, groupements villageois... nous faisons notre possible pour leur donner les moyens de leurs objectifs.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="divider-new">
                    <h2 class="h2-responsive">Où va l'argent des dons ?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 push-md-3">
                <!--Card-->
                <div class="card wow fadeInUp mb-2" style="visibility: visible; animation-name: fadeInUp;">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="{{ absolute_url(asset('img/annexe1.jpg')) }}" class="img-fluid" alt="Membres de l'association">
                        <a href="{{ absolute_url(asset('img/annexe1.jpg')) }}">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                </div>
                <!--/.Card-->
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="divider-new">
                    <h2 class="h2-responsive"> N° W543003567 </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 push-md-2">
                <p>
                    C'est le numéro du récépissé de création de l'association "Terre Burkina", fondée le 28 avril 2008 en préfecture de Meurthe-et-Moselle.<br><br>
                    <strong>Animés par une véritable volonté de travail en collaboration avec le Burkina Faso</strong>, les membres décident de s'unir autour d'un projet commun. Le siège social est fixé à Varangéville.<br><br>
                    <strong>Au Burkina Faso, 4 salariés à temps plein</strong> animent les différentes actions au Burkina Faso.<br><br>
                    <strong>Terre Burkina est une association à but humanitaire et militante</strong>, elle tient ses comptes au Crédit Coopératif et ses assurances à la MAIF.<br><strong>Les dons bénéficient de 66% de déduction fiscale</strong><br>(Articles 200-1-b et 238 bis-1-a du CGI)
                </p>
            </div>
        </div>

        <br>
    </div>

    </div>
{% endblock %}


