{% extends 'visitor/base.html.twig' %}

{% block body %}
    <i id="topMenuInfo">donateItem</i>

    <div class="container-fluid">
        <br>
            <div class="row">
                <div class="col-lg-7">
                    <div class="jumbotron">
                        <h2 class="h2-responsive">Faire un don</h2>
                        <hr>
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6 mb-3">

                                <a href="{{ absolute_url(asset('img/photo_don.jpg')) }}">
                                    <img src="{{ absolute_url(asset('img/photo_don.jpg')) }}" class="img-fluid z-depth-1" alt="Photo village">
                                </a>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-6 mb-3">
                                <!-- Grid row -->
                                <br>
                                <p>
                                    Nous avons besoin de vous.<br> Chaque don compte.<br>D'avance merci !
                                </p>
                                <p>Association à but Humanitaire, chaque don bénéficie de 66% de déduction fiscale<br> (Articles 200-1-b et 238 bis-1-a du CGI)
                                </p>
                            </div>
                            <!-- Grid column -->

                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="jumbotron text-center">
                        <h3 class="h3-responsive">Indiquez le montant de votre choix</h3>
                        <hr>
                        <div class="btn-group">
                            <button class="btn btn-brown btn-md" id="donate30">30 €</button>
                            <button class="btn btn-brown btn-md" id="donate60">60 €</button>
                            <button class="btn btn-brown btn-md" id="donate120">120 €</button>
                        </div>
                        <div id="donateForm">
                            {% include 'visitor/main/_donate_form.html.twig' with {'form': form} %}
                        </div>
                        <div id="donateCardBlock">

                        </div>
                    </div>
                </div>
            </div>
        <br>
    </div>



    <!-- MODAL CHEQUE -->
    <div class="modal fade" id="chequePaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Faire un don par chèque</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p><strong>Adresse à laquelle envoyer le chèque</Strong> :<br> 34, rue Foch à VARANGEVILLE (54110)</p>
                        <p><Strong>Ordre</Strong> : Terre Burkina</p>
                        <p>Les équipes de Terre Burkina en France et au Burkina Faso vous remercient très chaleureusement pour votre don !</p>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" href="{{ path('contact') }}" class="btn btn-primary-modal"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;Nous contacter</a>
                    <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Fermer</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Central Modal Medium Success-->



    <!-- MODAL TRANSFER -->
    <div class="modal fade" id="transferPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Faire un don par virement bancaire</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p> <strong>Objet</strong> : « Terre Burkina (parrainage) »<br>
                            <strong>Titulaire du compte</strong> : TERRE BURKINA<br>
                            <strong>Domiciliation</strong> : CREDITCOOP<br>
                            <strong>RIB</strong> :    42559 00085 41020006930 71<br>
                            <strong>IBAN</strong> : FR76 4255 9000 8541 0200 0693 071<br>
                            <strong>BIC</strong> :    CCOPFRPPXXX
                        </p>
                        <p>Les équipes de Terre Burkina en France et au Burkina Faso vous remercient très chaleureusement pour votre don !</p>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" href="{{ path('contact') }}" class="btn btn-primary-modal"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;Nous contacter</a>
                    <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Fermer</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Central Modal Medium Success-->



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

            // ==============================
            // BOUTONS MONTANT DU DON
            // =============================
            $('#donate30').click(function () {
                $('#donate_amount').val(30);
                removeActivationClass();
                $(this).addClass('active');
            });

            $('#donate60').click(function () {
                $('#donate_amount').val(60);
                removeActivationClass();
                $(this).addClass('active');
            });

            $('#donate120').click(function () {
                $('#donate_amount').val(120);
                removeActivationClass();
                $(this).addClass('active');
            });

            $('#donate_amount').on('keyup', function () {
                removeActivationClass();
            });

            function removeActivationClass(){
                $('#donate30, #donate60, #donate120').removeClass('active');
            }


            // ==============================
            // SOUMISSION DU FORMULAIRE
            // =============================
            initializeListeners();

            function sendAjaxRequest(){
                $.ajax({
                    type: 'POST',
                    url: '{{ path('ajax_donate') }}',
                    data: $('form[name=donate]').serialize()
                })
                    .done(function (data) {
                        if(data.payment == "card"){
                            $('.help-block').html("");
                            $('#donateCardBlock').html(data.paymentView);
                        } else if(data.payment == "cheque"){
                            $('#chequePaymentModal').modal();

                        } else if(data.payment == "transfer"){
                            $('#transferPaymentModal').modal();
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#donateForm').html(jqXHR.responseJSON.form);
                                initializeListeners();
                                // Personnalisation message d'erreur formulaire
                                $('.help-block').css('font-size', '12px');
                            }
                        }
                    });
            }

            function initializeListeners(){
                $('#donate_card, #donate_cheque, #donate_transfer').click(function (e) {
                    var input = $("<input>").attr("type", "hidden").attr("name", 'submittedBtn').val($(this).attr('id'));
                    $('form[name=donate]').append(input);
                    e.preventDefault();
                    $('#donateCardBlock').html("");
                    sendAjaxRequest();

                });
            }


            {% for message in app.session.flashbag.get('error') %}
            toastr["error"]("{{ message }}");
            {% endfor %}

        });
    </script>
{% endblock %}


