{% extends 'visitor/base.html.twig' %}

{% block title %}La Maison de Luc{% endblock %}

{% block carousel %}
    <!--Carousel Wrapper-->
    <div id="homepageCarousel" class="carousel slide carousel-fade z-depth-1" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <img src="{{ absolute_url(asset('img/maison_de_luc.jpg')) }}" alt="Maison de Luc" class="img-fluid">
                <div class="carousel-caption">
                    <h1 class="h1-responsive">La Maison de Luc</h1>
                </div>
            </div>
            <!--/First slide-->
        </div>
        <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
{% endblock %}


{% block body %}
    <i id="topMenuInfo">maisonDeLuc</i>

    <div class="container-fluid white">
        <br>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="divider-new">
                            <h2 class="h2-responsive">La maison de Luc est un projet répondant à un besoin urgent</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 push-md-2">
                        <p>
                            Pour un élève au Burkina, le passage du collège au lycée correspond souvent au passage d’un établissement de proximité, souvent au sein de son village, à un lycée en ville avec son lot de découvertes et d’incertitudes. Lorsque cela est possible, l'élève trouvera un hébergement dans de la famille éloignée en ville mais dans le cas contraire, le rêve d’aller au lycée se dissipera... 
                        </p>
                        <p>
                            Avoir son BEPC (Brevet des collèges) ne suffit pas pour poursuivre ses études et entrer au lycée au Burkina Faso : chaque élève doit obtenir « son entrée en seconde » c’est-à-dire avoir des bons résultats au BEPC. Mais souvent, ce sésame ne suffit pas non plus : le prix du lycée, des fournitures, le manque ou le coût de l’hébergement en ville, l’éloignement ou les transports jusqu’aux lycées, etc. écartent un grand nombre d’élèves des bancs scolaires… Principalement les jeunes filles qui doivent souvent rester au sein du foyer pour assurer les tâches ménagères. De plus, il est difficilement envisageable pour les parents de laisser sa fille âgée de 14 à 18 ans vivre seule ou presque, en ville et très loin du village…
                        </p>
                        <p><strong>C’est pour toutes ces raisons que "La Maison de Luc" a vu le jour. C’est une maison d’accueil pour jeunes filles, 16 lycéennes sont ainsi prises en charge, logées "à la maison" et scolarisées en ville, à Koudougou.</strong></p>
                        <p><i>La Maison de Luc est un ensemble de 4 maisons avec chacune : chambre ventilée avec douche et salon/cuisine, le tout avec une belle cour extérieure commune avec coin ombragé.</i></p>
                    </div>
                </div>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-sm-4 mb-3 push-sm-2">

                        <a href="{{ absolute_url(asset('img/logo_luc.jpg')) }}">
                            <img src="{{ absolute_url(asset('img/logo_luc.jpg')) }}" class="img-fluid z-depth-1" alt="Logo maison de luc">
                        </a>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-sm-4 mb-3 push-sm-2">

                        <a href="{{ absolute_url(asset('img/maison_luc_2.jpg')) }}">
                            <img src="{{ absolute_url(asset('img/maison_luc_2.jpg')) }}" class="img-fluid z-depth-1" alt="Photo maison de luc">
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="divider-new">
                            <h2 class="h2-responsive">Un parrainage particulier</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 push-md-2">
                        <p>Parrainer une des jeunes filles de La Maison de Luc, c'est tout d'abord couvrir les 5 points d'un parrainage « traditionnel » : frais de scolarité, fournitures, habillement, soins et nourriture. Mais en plus de cela, c'est assurer un hébergement décent aux élèves, en ville et à proximité des lycées.</p>
                        <p>Les frais de scolarité, les fournitures scolaires et les besoins d'une lycéenne, le loyer, l'électricité, l'eau, un vélo par élève etc. et surtout la présence d’une intendante font de ce parrainage "Maison de Luc" <strong>un parrainage très particulier d'un montant de 45 € par mois au lieu des 30 €</strong> nécessaires aux autres parrainages proposés pour des élèves d'école primaire ou de collège. </p>
                        <p class="text-center"><i>Un engagement fort pour soutenir sa filleule vers un meilleur avenir !</i></p>
                        <p class="text-center"><strong>Merci de <a href="{{ path('contact') }}" class="link-text">nous contacter</a> pour plus d'infos</strong></p>
                    </div>
                </div>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-sm-4 mb-3 push-sm-2">

                        <a href="{{ absolute_url(asset('img/groupe_luc.jpg')) }}">
                            <img src="{{ absolute_url(asset('img/groupe_luc.jpg')) }}" class="img-fluid z-depth-1" alt="Photo de groupe maison de Luc">
                        </a>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-sm-4 mb-3 push-sm-2">

                        <a href="{{ absolute_url(asset('img/groupe_luc_2.jpg')) }}">
                            <img src="{{ absolute_url(asset('img/groupe_luc_2.jpg')) }}" class="img-fluid z-depth-1" alt="Photo de groupe maison de Luc">
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="divider-new">
                            <h2 class="h2-responsive">Interview</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 push-md-2">
                        <p><i>Interview réalisée lors de la mise en place du projet. Minerve Calderari, secrétaire adjointe de Terre Burkina et initiatrice de « La Maison de Luc », répond à nos questions pour les besoins d’un article.</i></p>

                        <p><strong>Terre Burkina:</strong> Minerve, d’où vient ce projet ?</p>
                        <p><strong>Minerve:</strong> Une concordance d'événements dans ma vie, la naissance de mon petit-fils Luc et mes cinquante ans que je vais fêter prochainement ; s'ajoute à cela le réel besoin de ce genre de maisons d’accueil pour les enfants parrainés.</p>

                        <p><strong>Terre Burkina:</strong> Cette maison d’accueil porte le nom de ton petit-fils ?</p>
                        <p><strong>Minerve:</strong> Oui, un symbole fort de transmission de valeurs auxquelles je tiens. Ce projet que j'avais en tête s'est imposé à moi à sa naissance.</p>

                        <p><strong>Terre Burkina:</strong> La Maison de Luc sera une maison d’accueil pour jeunes filles, pourquoi ?</p>
                        <p><strong>Minerve:</strong> Il est encore plus difficile pour une jeune collégienne du village d’accéder au lycée en ville, financièrement toujours mais également traditionnellement, quitter son foyer pour elle est compliqué… Beaucoup d'interlocuteurs sur place nous ont d’ailleurs conseillé de réaliser ce projet uniquement avec des garçons.</p>

                        <p><strong>Terre Burkina:</strong> Mais tu as tenu bon !</p>
                        <p><strong>Minerve:</strong> Oui. Nous avions réellement songé à un moment donné à faire une maison de garçons, mais une fois sur place, nous avons réalisé qu’avec quelques aménagements, il était tout à fait concevable d’accueillir seize jeunes filles en ville.</p>

                        <p><strong>Terre Burkina:</strong> Quels aménagements ?</p>
                        <p><strong>Minerve:</strong> Un règlement intérieur précis, le passage très fréquent de nos équipes et une intendante très présente pour accompagner les filles ; elle sera également à leur écoute, les conseillera… une maman de substitution en quelque sorte. Tout cela bien sûr avec le suivi des établissements scolaires et l’accord des services de l’action sociale.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    </div>
{% endblock %}


