
<div style="text-align: center">
    <img src="{{ absolute_url(asset('img/logo.jpg')) }}" style="width: 150px">
</div>

<div style="text-align: center">
    <h1  style="margin-top: 30px">Accéder aux informations sur le parrainage</h1>

    <p>Bonjour {{ firstName }} {{ lastName }},<br>
        Nous avons validé votre demande d'informations ou de parrainage. Vous pouvez dès à présent accéder à plus d'informations sur le lien ci-dessous.</p>

    <p><a href="{{ url }}">{{ url }}</a></p>

    <p>Bien cordialement,<br/>
        L'association Terre Burkina.</p>
</div>