
<div style="text-align: center">
    <img src="{{ absolute_url(asset('img/logo.png')) }}" style="width: 150px">
</div>

<div style="text-align: center">
    <h1  style="margin-top: 30px">Données de connexion à votre compte Terre Burkina</h1>

    <p>Bonjour{% if user.fullName is not null %} {{ user.fullName }}{% endif %},<br>
    Nous avons créé un compte pour vous sur le site Terre Burkina !</p>

    <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>

    <p>Pour pouvoir vous connecter à votre compte, définissez votre mot de passe en vous rendant sur le lien ci-dessous.</p>

    <p><a href="{{ url }}">{{ url }}</a></p>

    <p>Bien cordialement,<br/>
    L'association Terre Burkina.</p>
</div>