{% extends "admin/childs/layout.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block admin_body %}

    <i id="menuLeftInfo">groups</i>

    <div class="buttonsBar">
        <a href="{{ path('admin_childs_groups') }}" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Retour à la liste</a>
    </div>

    <div class="col-md-10 col-md-offset-1 text-center">
        <h1>Êtes-vous sûr de vouloir supprimer le groupe "{{ childGroup.name }}" ?</h1>
        <p><strong>Attention !</strong></p>
        <p>La suppression est irréversible, toutes les photos et nouvelles associées au groupe seront perdues définitivement.</p>
        <div class="marginTop25">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-danger marginTop25" formnovalidate>Supprimer le groupe</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}